.memorybord{
    display: block;
    background-color: #424147;
    border: #040404 2px solid;
    padding: 10px;
    border-radius: 20px;
    width: 800px;
    height: 600px;

}

h1{
    text-align: center;
}

.section{
    display: block;
}