.achtergrond {
    width: 800px;
    height: 500px;
    background-image: url(achtergrondNinja.jpg);
    overflow: hidden;

}

.sushi {
    width: 80px;
    height: 60px;
    position: relative;

}

.redouane {
    width: 80px;
    height: 60px;
    position: relative;
}

.startscherm {
    width: 500px;
    height: 200px;
    background-color: #D8D8D8;
    margin: auto;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 2%;
}

p {
    font-family: fantasy;
    font-size: 20px;
}

#verlorenbox {
    display: none;
}
