.achtergrond {
    width: 800px;
    height: 500px;
    background-image: url(achtergrondNinja.jpg);
    overflow: hidden;

}

.sushi {

    width: 80px;
    height: 60px;
<<<<<<< HEAD
    position: fixed;
}
<<<<<<< HEAD
    position: absolute;
=======
>>>>>>> 4b9f0f12695944bc0ae348cf480c115b54014a91

